.fs-wrap {
  display: inline-block;
  cursor: pointer !important;
  font-size: 12px;
  width: 100%;
  line-height: 1.7;
}

.fs-label-wrap {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: default;
}

.fs-label-wrap,
.fs-dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fs-label-wrap .fs-label {
  padding: 6px 22px 6px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #6c757d;
}

.fs-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  margin: auto;
}

.fs-dropdown {
  position: absolute;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 93%;
  margin-top: 0px;
  padding-top: 5px;
  border-top: 0px;
  z-index: 1000;
}

.fs-dropdown .fs-options {
  max-height: 200px;
  overflow: auto;
}

.fs-search input {
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
 box-shadow: inset 0 2px 1px rgba(0,0,0,.075);
 border: 1px solid #cec9c9;
 border-radius: 4px;
 color: #555;
 font-size: 14px;
 outline: 0;
 padding: 7px !important;
 width: 100%;
 box-sizing: border-box;
 background-color: white;
 cursor: text;
 display: inline-block;
 text-align: start;
 font: 400 13.3333px Arial;
}

.fs-option,
.fs-search,
.fs-optgroup-label {
  padding: 8px 1px;
  line-height: 20px;
  border:0px;
  cursor: default;
}  
.fs-search {
  padding: 2px 6px;
}
.fs-option:hover{
 background: teal;
 color: #fff;   
}

.fs-no-results {
  padding: 6px 8px;
}
.fs-option {
  cursor: pointer;
  word-break: break-all;
}

.fs-option.disabled {
  opacity: 0.4;
  cursor: default;
}

.fs-option.hl {
  background-color: #f5f5f5;
}

.fs-wrap .fs-option {
  position: relative;
  padding-left: 30px;
}

.fs-wrap .fs-checkbox {
  position: absolute;
  display: block;
  width: 30px;
  top: 0;
  left: 0;
  bottom: 0;
}

.fs-wrap .fs-option .fs-checkbox i {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #aeaeae;
  border-radius: 2px;
  background-color: #fff;
}

.fs-wrap .fs-option.selected .fs-checkbox i {
  background-color: #159281;
  border-color: transparent;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: center;
}

.fs-optgroup-label {
  font-weight: bold;
  text-align: center;
}

.hidden {
  display: none!important;
}

.fs-label-wrap {
 position: relative;
 background-color: #fff;
 border: 1px solid #dee2e6;
 cursor: pointer;
 border-radius: 4px;
}
.fs-wrap:focus{
	outline: 0;
}
.fs-dropdown{
	width: 100%;
}
