
/*@media screen(){
}
*/
#list2 {
	list-style-type: none;
	display: block;
	background: blue;
	padding: 0;
	height: 40px;
	margin-bottom: 10px;
}
#list2>li {
	float: left;
	background: red;
	width: 50px;
	margin: 5px;
	padding: 5px;
	height: 20px;
}
.wizard-container{
	width:100%;
	margin: 0 auto;
}	
.wizard-container-ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.wizard-container-li{
	display: inline-block;   
	width: 16%;
	position: relative;
}
.step-div{
	text-align: center;
}
.step-bg{
	color: #fff;
	margin-top:4px;
	display: inline-block;
	background-color: #3b5998;
	border: 1px solid #669933;
	border-radius: 50%;
	width:32px;
	height: 32px;
	display: inline-block;
	text-align: center;
	padding-top: 2px;
}
.step-div:before	{
	display: block;
	position: absolute;
	top: 21px;
	width: 81%;
	height: 4px;
	content: '';
	background-color: #006F94;
	margin-left: -42%;
	z-index: 8;
}
.wizard-container-li:first-child  .step-div:before{ 
	display:none;
}
.step-num{
	position: absolute;
	margin-left: -22px;
	top: 8px !important;
	color: #fff;
	font-weight: 500;
}
.step-title{
	font-size: 12px;
	color: #666;
	display: block;
}

/** active & disabled styles ***********************************/


/*completed***/

.wizard-container-li.completed .step-div:before,
.wizard-container-li.active .step-div:before,
.wizard-container-li.rejected .step-div:before{
	border:2px solid #669933;
	background-color:transparent;
	z-index: 1;
}
/*.wizard-container-li.completed .step-num,
.wizard-container-li.rejected .step-num{
	left: 108px;
}*/
.wizard-container-li.completed .step-bg{
	background-color: #669933;
}
/*active***/
.wizard-container-li.active .step-bg{
	border-bottom-left-radius: 0;
	transform: rotate(-45deg);
	border: 1px solid #3b5998;
}
.wizard-container-li.active .step-num{
	background-color: #fff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin-left: -28px;
	color: #006F94;
	top: 9px !important;
	z-index: 10;
}
.wizard-container-li.active .step-title{
	font-weight:bold;
	color:#006F94;
}

.wizard-container-li.disabled .step-div:before{
	background-color:#ccc;
}
.wizard-container-li.disabled .step-bg{
	background-color:#ccc;
	border:1px solid #ccc;
}
.wizard-container-li.disabled .step-num{
	color:#666;
}
.wizard-container-li.review .step-div:before,
.wizard-container-li.review-border .step-div:before {
	border: 2px dashed #717171;
	background-color:transparent;
	/* margin-right: -250px; */
}
.wizard-container-li.review .step-bg{
	background-color: #e91e63;
	border: 1px solid #e91e63;
}
.wizard-container-li.review .step-num{
	color:#fff;
}
/**rejected **/
.wizard-container-li.rejected .step-bg{
	background-color:#CC0000;
	border:1px solid #CC0000;
} 

/** Wizard CSS end ********************************************/



.navmenu{
    box-shadow: 1px 5px 3px -4px rgba(90, 90, 90, 0.68);
    background: #E6E6E6;
}
.nav-tabs > li .close {
	margin: 2px 0 0 10px;
	font-size: 18px;
}
.panelheader {
	padding: 15px 20px;
	margin: 5px 0px;
	color: #fff;
	font-size: 12px;
	background: #44435a;
	box-shadow: 1px 2px 7px 1px #9c9c9c;
}
.panelheader p{
	color: #ddd;
	margin-bottom: 0px !important;
}
.panelheader strong{
	color: #ffffff;
	font-weight: 700;
}
.panelheader span{
	color: #ffffff;		
	font-size: 11px;
}
.panelcontent{
	background: #fff;
	margin: -30px 45px;
	border: 1px solid #ddd;
	padding: 15px;
	z-index: 5;
	display: flex;
	font-size: 13px;
}
.menuitem img{
	height: 20px;
	margin-bottom: 10px;
}	

.ui-sortable li{
	padding: 5px 7px;
	border-radius: 30px;
	border: 1px solid #ddd;
	margin: 2px;
}
.ordernav{
	background: #f7f7f7;
}
.ordernav strong{
	font-weight: 500;
	color: #524e4e;
}
.orderinfotop{
	background: #3b5998;
	color: #fff;	
}
.content{
	padding: 0px !important;
}
#headers
{
	background:##5a5a5a !important;
	padding-top: 0px;
	padding-bottom: 15px;
}

.ordernum{
	line-height: 43px; 
	vertical-align: top;
}	
.card [class*=card-header-] {
	margin: 0 5px;
}
#duplicateorders{
	color: #ffffff;
	margin-top: 7px !important;
	float: left;
	margin-right: 10px;
	padding: 6px 0px 4px 10px;
}
#duplicateorders sup{
	background: #b70843;
	padding: 5px;
	border-radius: 50%;
	top: -1.5em;
}
#getorderdts i{
	font-size: 9px;
	padding-right: 6px;
	line-height: 9px;
}
.detailedentry{
	padding: 10px;
	line-height: 30px;
}
.detailedentry .ordersummary{
	font-size: 15px;
	font-weight: 600;
	color: #3b5998;
}
.orderhighlight{
	font-size: 15px;
	font-weight: 600;
	color: #3b5998;
}
.navmenu .dropdown button:after{
	display: none;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
/* panel layout mechanics */
.panel-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 270px;
  transform: translateX(100%);
  transition: .3s ease-out;
      box-shadow: 0px 0px 4px 1px #948f8f
}
.panel {
      position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #eee;
    overflow: auto;
    padding: 0px 5px 10px 0px;
}
.borderbtm{
      border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}
.borderbtm h6{
      margin: 5px 0px;
    color: black;
    text-align: left;
}
/*
[type="checkbox"]:checked ~ .panel-wrap {
  transform: translateX(0%);
}

*/

/* ----- v CAN BE DELETED v ----- */


.demo {
  padding-top: 60px;
  padding-bottom: 110px;
}

.btn-demo {
  margin: 15px;
  padding: 10px 15px;
  border-radius: 0;
  font-size: 16px;
  background-color: #FFFFFF;
}

.btn-demo:focus {
  outline: 0;
}

.demo-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #212121;
  text-align: center;
}

.demo-footer > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

div.item {
  display: flex;
  flex: auto;
  overflow-y: auto;
  padding: 2rem 1rem 0rem 1rem;
}

#timeline {
  position: relative;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
#timeline div:after {
    content: '';
    width: 1px;
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    left: 3px;
    z-index: 0;
    background: #d0d0d0;
}
#timeline h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  color: #888;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}
@media (min-width: 62em) {
  #timeline h3 {
    font-size: 1.1em;
  }
}
#timeline section.year {
  position: relative;
}
#timeline section.year:first-child section {
  margin-top: -1.3em;
  padding-bottom: 0px;
}
#timeline section.year section {
  position: relative;
  margin-bottom:13px;

}
#timeline section.year section h4 {
  position: absolute;
  bottom: 0;
  font-size: .9em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 0 89px;
  color: #C5C5C5;
}
@media (min-width: 62em) {
  #timeline section.year section h4 {
    font-size: 1em;
  }
}
#timeline section.year section ul {
  list-style-type: none;
  padding: 0 0 0 75px;
  margin: 0px;
  max-width: 32rem;
  font-size: 1em;
}
@media (min-width: 62em) {
  #timeline section.year section ul {
    font-size: 1.1em;
    padding: 0px;
  }
}
#timeline section.year section ul:last-child {
  margin-bottom: 0;
}
#timeline section.year section ul:first-of-type:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #777;
    border: 2px solid #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: -3px;
    top: 6px;
    z-index: 2;
}
#timeline section.year section ul li {
  margin-left: 13px;
  font-size: 11px;
  line-height: 19px;
  text-align: left;
  color: #333;
}

#timeline section.year section ul li:not(:first-child) {
  margin-top: .5rem;
}
#timeline section.year section ul li span.price {
  color: mediumturquoise;
  font-weight: 500;
}
#timeline p{
    font-size: 11px;
    text-align: left;
    margin: 0px 0px 0px 14px;
    color: #888;
    font-style: italic;
}
#price {
  display: inline;
}

svg {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}


.headertop{
      border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
}
.ma-0{
  margin : 0px !important;
}
.borderbtm{
  border-bottom: 1px solid #ddd;
}
.d-playbox{
  margin-left:0px;
}
